<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.kr.pky.spring.persistence.UserMapper">
    <insert id="insertText">
        INSERT INTO `TB_COMPANY` (`code`, `name`, `service_uuid`) VALUES ('2', '2', '2');
    </insert>
</mapper>